
<section class="todoapp">
  <header class="header">
    <h1>{{pageTitle}}</h1>
    <form (submit)="addTodo()">
      <input name="newTodo" class="new-todo" [(ngModel)]="this.newTodoText" placeholder="What needs to be done?" autofocus="">
    </form>
  </header>
  <section class="main" style="display: block;">
    <input id="toggle-all" class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let todo of this.filteredTodos()" [ngClass]="{'completed': todo.isDone, 'editing': todo.isEditing}" (dblclick)="beginEditingTodo(todo)">
        <div class="view">
          <input class="toggle" type="checkbox" [(ngModel)]="todo.isDone"/>
          <label>{{todo.text}}</label>
          <!--<label [innerText]="newTodoText"></label>-->
          <button class="destroy" (click)="deleteTodo(todo)"></button>
        </div>

        <input *ngIf="todo.isEditing" class="edit" [(ngModel)]="editingTodoText" (keyup.enter)="finishEditingTodo()" (keyup.esc)="cancelEditingTodo()"/>
      </li>
    </ul>
  </section>
  <footer class="footer" style="display: block;">
    <span class="todo-count"><strong>0</strong> items left</span>
    <ul class="filters">
      <li>
        <a (click)="setVisibility('all')">All</a>
      </li>
      <li>
        <a (click)="setVisibility('active')">Active</a>
      </li>
      <li>
        <a (click)="setVisibility('done')">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" style="display: block;">Clear completed</button>
  </footer>
</section>

<p>
  {{filteredTodos() | json}}
</p>
<b>{{editingTodoText}}</b>
